
version: '3.7'
services:
  server:
    build: /server
    ports:
      - "8080:8000"
    volumes:
      - ./data:/data
    environment:
      - PORT=8000
    restart: unless-stopped

volumes:
  data:
